:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  list-style: none;
}

body {
  background: url(./assets/nana-nakazwe-r_cUZ3vJGyM-unsplash.jpg) repeat-x;
  width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(110, 50, 50, 0.5);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }
}

.header {
  background: var(--white);
  height: 6vh;
  width: calc(100% - 4vh * 2);
  padding: 4vh;
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 0;
  width: calc(100% - 4vh * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vh;
}

.nav {
  height: 100%;
  padding-bottom: 3vh;
}

.nav_links {
  display: flex;
  gap: 24px;
  font-weight: 100;
}

.nav_links li:hover {
  text-underline: transparent;
  transition-duration: 0.3s;
}

.nav_links a {
  color: var(--black);
  transition-duration: 0.3s;

  &:hover {
    text-decoration: none;
  }
}

.separation {
  position: relative;

  &::before,
  &::after {
    display: block;
    width: 5px;
    height: 5px;
    background: transparent;
    border: 1px solid var(--black);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    content: " ";
  }

  &::before {
    left: -17px;
    content: " ";
  }

  &::after {
    right: -17px;
  }
}

.header_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  letter-spacing: 1vh;
  font-weight: bold;
  line-height: 92%;

  &::before {
    display: block;
    width: 85%;
    height: 120%;
    border: 4px solid var(--black);
    position: absolute;
    top: -10px;
    left: 0;
    content: " ";
  }
}

.header_contacts {
  list-style: none;
  transform: translateX(-50px);

  & li {
    font-size: 14px;
    text-align: end;
  }
}

.underlined {
  border-bottom: 2px solid var(--black);
}

#home {
  position: relative;
  height: 76vh;
  color: var(--white);
  background: rgba(10, 10, 10, 0.5);
  width: calc(100% - 8vh);
  padding: 5vh;
  z-index: 200;
}

.home_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100px;
  margin: 8vh 0 10vh;
}

.home_title_start {
  position: relative;

  &::after {
    bottom: 0;
    position: absolute;
    transform: translate(30%, 0);
    content: "D";
  }
}

.home_title_middle {
  text-align: center;
}

.home_title_end {
  text-align: end;
  position: relative;

  &::before {
    bottom: 0;
    position: absolute;
    transform: translate(-140%, 0);
    content: "I";
  }

  &::first-letter {
    margin-right: 2vh;
  }
}

.home_subtext {
  display: flex;
  justify-content: end;
  align-items: center;
}

.home_subtext-text {
	letter-spacing: 5px;
	font-weight: 100;
	font-size: 14px;
	margin: 0 18px;
}

.bet-button {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 10px 20px;
  margin: 1px;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
    animation: smooth-border 0.3s ease-in;
  }

  &:hover {
    border-radius: 12px;
    transition-duration: 0.3s;
  }
}


#lots {
  background: white;
  width: calc(100% - 10vh * 2);
  padding: 20vh 10vh 10vh 10vh;
}

.lots_header {
  font-size: 30px;
  font-weight: bold;
}

.lots_lots-grid {
  margin: 2vh 0 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vh;
}

.lot {
  aspect-ratio: 1/1;
  position: relative;

  &:hover .lot-content {
    background: none;
    transition: 0.3s;
  }
}

.lot-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.lot-content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  background: rgba(10, 10, 10, 0.5);
  height: 100%;
  width: 100%;
}

.lot-header,
.lot-text {
  margin: 3vh;
}

.lot-header {
  font-size: 26px;

  &::first-line {
    text-decoration: underline;
  }
}

.lot-text {
  font-size: 16px;
  letter-spacing: 2px;
}

.lots_show-more-btn {
  transform: translateY(-5px);
  width: fit-content;
  border-bottom: 1px solid black;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    border-bottom: 2px solid black;
    font-weight: bold;
  }
}

.about {
  background: var(--white);
  width: calc(100% - 10vh * 2);
  padding: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10vh
}

.about_logo {
  margin: 0 15%;
  background: black;
  color: var(--white);
  height: fit-content;
  padding: 20px 33px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}

.about_header {
  font-size: 24px;
}

.about_text {
  width: 70%;
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  gap: 1vh
}

@keyframes smooth-border {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 12px;
  }
}
