* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url(./assets/nana-nakazwe-r_cUZ3vJGyM-unsplash.jpg);
  width: 100%;
  overflow-x: hidden;
  background-repeat: repeat-x;
}

.header {
  background: white;
  height: fit-content;
  width: calc(100% - 4vh * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vh;
}

.nav {
  height: 100%;
  padding-bottom: 3vh;
}

.nav_links {
  display: flex;
  gap: 24px;
  list-style: none;
  font-weight: 100;
}

.nav_links a {
  color: black;
  transition-duration: 0.3s;
}

.nav_links a:hover {
  text-decoration: none;
}

.separation {
  position: relative;
}

.separation::before,
.separation::after {
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  content: " ";
}

.separation::before {
  left: -17px;
  content: " ";
}

.separation::after {
  right: -17px;
}

.header_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  letter-spacing: 1vh;
  font-weight: bold;
}

.header_logo .line-1 {
  transform: translateY(-10px);
}

.header_logo .line-2 {
  transform: translateY(-20px);
}

.header_logo::before {
  display: block;
  width: 85%;
  height: 65%;
  border: 4px solid black;
  position: absolute;
  top: 5px;
  left: -1px;
  content: " ";
}

.header_contacts {
  list-style: none;
}

.header_contacts li {
  width: fit-content;
}

.underlined {
  border-bottom: 2px solid black;
}

.home {
  position: relative;
  height: fit-content;
  color: white;
  background: rgba(10, 10, 10, 0.5);
  width: calc(100% - 8vh);
  padding: 5vh;
  background: rgba(10, 10, 10, 0.5);
}

.home_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100px;
  margin: 8vh 0 10vh;
}

.home_title_start {
  position: relative;
}

.home_title_start::after {
  bottom: 0;
  position: absolute;
  transform: translate(30%, 0);
  content: "O";
}

.home_title_middle {
  text-align: center;
}

.home_title_end {
  text-align: end;
  position: relative;
}

.home_title_end::before {
  bottom: 0;
  position: absolute;
  transform: translate(-140%, 0);
  content: "H";
}

.home_title_end::first-letter {
  margin-right: 2vh;
}

.home_subtext {
  display: flex;
  justify-content: end;
		align-items: center;
}

.home_subtext-text {
	letter-spacing: 5px;
	font-weight: 100;
	font-size: 14px;
	margin: 0 18px;
}

.bet-button {
	background: transparent;
	color: white;
	border: 1px solid white;
	padding: 10px 20px;
}

.lots {
  background: white;
  width: calc(100% - 10vh * 2);
  padding: 10vh;
}

.lots_header {
  font-size: 30px;
  font-weight: bold;
}

.lots_lots-grid {
  margin: 2vh 0 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5vh;
}

.lot {
  aspect-ratio: 1/1;
  position: relative;
}

.lot-img {
  position: absolute;
  background: rgb(19, 3, 61);
  height: 100%;
  width: 100%;
  z-index: 0;
}

.lot-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  background: rgba(10, 10, 10, 0.5);
  height: 100%;
  width: 100%;
}

.lot-header,
.lot-text {
  margin: 3vh;
}

.lot-header {
  font-size: 26px;
}

.lot-header::first-line {
  text-decoration: underline;
}

.lot-text {
  font-size: 16px;
  letter-spacing: 2px;
}

.lots_show-more-btn {
  transform: translateY(-5px);
  width: fit-content;
  border-bottom: 1px solid black;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.lots_show-more-btn:hover {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.about {
  background: white;
  width: calc(100% - 10vh * 2);
  padding: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10vh
}

.about_logo {
  margin: 0 15%;
  background: black;
  color: white;
  height: fit-content;
  padding: 20px 25px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}

.about_headet {
  font-size: 24px;
}

.about_text {
  width: 70%;
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  gap: 1vh
}