:root {
  --white: #fff;
  --black: #000;
}

/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Body Styles */
body {
  background: url(../images/nana-nakazwe-r_cUZ3vJGyM-unsplash.jpg) repeat-x center;
  background-size: cover;
  overflow-x: hidden;

  /* Custom Scrollbar Styles */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(110, 50, 50, 0.5);
    border-radius: 20px;
    border: none;
  }
}

/* Header Styles */
.header {
  background: var(--white);
  height: 10vh;
  padding: 2vh 0;
  width: 100%;
  z-index: 10;
}

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vh;
}

.nav {
  height: 100%;
}

.nav_links {
  display: flex;
  gap: 24px;
  font-weight: 100;
  list-style: none;

  & li:hover {
    text-underline: transparent;
    transition-duration: 0.3s;
  }

  & a {
    color: var(--black);
    text-decoration: none;
    transition-duration: 0.3s;

    &:hover {
      text-decoration: underline; /* Clearer hover effect */
    }
  }
}

.separation {
  position: relative;

  &::before,
  &::after {
    display: block;
    width: 5px;
    height: 5px;
    background: transparent;
    border: 1px solid var(--black);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    content: " ";
  }

  &::before {
    left: -17px;
    content: " ";
  }

  &::after {
    right: -17px;
  }
}

.header_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  letter-spacing: 1vh;
  font-weight: bold;
  line-height: 92%;

  &::before {
    display: block;
    width: 85%;
    height: 120%;
    border: 4px solid var(--black);
    position: absolute;
    top: -10px;
    left: 0;
    content: " ";
  }
}

.header_right-side {
  list-style: none;

  & li {
    font-size: 14px;
    text-align: end;
  }
}

/* Home Section Styles */
#home {
  height: 90vh;
  color: var(--white);
  background: rgba(10, 10, 10, 0.5);
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 6rem;
  margin: 8vh 0 10vh;
}

.home_title_start {
  position: relative;

  &::after {
    bottom: 0;
    position: absolute;
    transform: translate(30%, 0);
    content: "D";
  }
}

.home_title_middle {
  text-align: center;
}

.home_title_end {
  text-align: end;
  position: relative;

  &::before {
    bottom: 0;
    position: absolute;
    transform: translate(-140%, 0);
    content: "I";
  }

  &::first-letter {
    margin-right: 2vh;
  }
}

.home_subtext {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1rem 0 3rem;
}

.home_subtext-text {
	letter-spacing: 5px;
	font-weight: 100;
	font-size: 1rem;
	text-align: center;
    margin-right: 1rem;
}

#bet-button {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition-duration: 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
  }
}

/* Lots Section Styles */
#lots {
  background: var(--white);
  padding: 20vh 10vh;
  height: 100%;
}

.lots_header {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.lots-grid {
  margin: 1vh 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5vh;
}

.lot {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;

  &:hover,
  &:hover .lot-img {
    border-radius: 15px;
  }

  &:hover .lot-content {
    background: none;
    color: transparent;
    transition-duration: 0.3s;
  }
}

.lot-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.lot-content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  background: rgba(10, 10, 10, 0.5);
  height: 100%;
  width: 100%;
}

.lot-header,
.lot-text {
  margin: 3vh 3vh 1vh;
}

.lot-header {
  font-size: 1.5rem;
  text-transform: uppercase;

  &::first-line {
    text-decoration: underline;
  }
}

.lot-text {
  font-size: 0.7rem;
  letter-spacing: 2px;
}

/* Show More Button */
#show-more-btn {
  transform: translateY(-5px);
  width: fit-content;
  border-bottom: 1px solid var(--black);
  transition-duration: 0.3s;

  &:hover {
    border-bottom: 2px solid var(--black);
    letter-spacing: 2px;
  }
}

/* About Section Styles */
#about {
  background: var(--white);
  height: 100vh;
  padding: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10vh
}

.about_logo {
  height: 150px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 15%;
  background: var(--black);
  color: var(--white);
  border-radius: 50%;
  font-size: 1rem;
  border: 3px solid var(--black);
  transition-duration: 0.3s;

  &:hover {
    background: var(--white);
    color: var(--black);
  }
}

.about_header {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 3vh;
}

.about_text {
  width: 70%;
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  gap: 2vh
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .home_title {
    font-size: 3rem;
  }

  #bet-button {
    font-size: 14px;
  }

  .lots_header {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 2vh 5vw;
  }

  #lots {
    background: var(--white);
    padding: 2vh 1vh;
    height: 100%;
  }

  .lots_header,
  .show-more-btn {
    transform: translateX(5vh);
  }

  .lots-grid {
    grid-template-columns: 1fr;
  }

  .lot-header {
    font-size: 1rem;
  }

  .lot-text {
    display: none;
  }

  #about {
    flex-direction: column-reverse;
  }

  .about_text {
    width: 100%;
    font-size: 0.5rem;
  }

}